<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Full KNIP SDK: KNIP + KNIME + External Dependencies" sequenceNumber="1605024809">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.knime.features.base.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ensembles.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.jep.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.poi.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.json.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.xml.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.js.quickforms.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.testing.application.feature.group" version="0.0.0"/>
      <unit id="com.knime.features.enterprise.client.feature.group" version="0.0.0"/>
      <unit id="com.knime.features.enterprise.client.exampleserver.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.stats2.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.exttool.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.optimization.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.jfreechart.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.datageneration.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.virtual.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.js.views.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.core.streaming.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.exttool.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.svg.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.python.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.distmatrix.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.base.filehandling.feature.group" version="0.0.0"/>
      <repository id="knime" location="https://update.knime.org/analytics-platform/4.2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.knime.knip.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.omero.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.testing.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.knimepython" version="0.0.0"/>
      <repository id="knime-community-trusted" location="http://update.knime.org/community-contributions/trusted/4.2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.knime.knip.cellprofiler.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.ilastik.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.tess4j.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.imagej.feature.feature.group" version="0.0.0"/>
      <repository id="knime-community" location="http://update.knime.org/community-contributions/4.2"/>
    </location>
  </locations>
</target>
