<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Full KNIP SDK: KNIP + KNIME + External Dependencies" sequenceNumber="1446035790">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.knime.features.enterprise.client.exampleserver.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.base.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ensembles.feature.jar" version="0.0.0"/>
      <unit id="org.knime.features.distmatrix.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ensembles.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.jep.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.weka_3.7.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.optimization.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.python.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.jep.source.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.js.quickforms.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.js.views.source.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.r.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.testingapplication.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.virtual.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.xml.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.core.streaming.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ensembles.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.api.tools" version="0.0.0"/>
      <repository id="knime" location="http://www.knime.org/update/3.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.knime.knip.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.omero.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.testing.feature.feature.group" version="0.0.0"/>
      <repository id="knime-community-trusted" location="http://update.knime.org/community-contributions/trusted/3.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.knime.features.enterprise.client.feature.group" version="0.0.0"/>
      <unit id="com.knime.features.explorer.serverspace.feature.group" version="0.0.0"/>
      <repository id="knime-server" location="http://update.knime.org/server/4.2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.knime.knip.cellprofiler.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.ilastik.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.knimepython.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.imagej3d.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.tess4j.feature.feature.group" version="0.0.0"/>
      <unit id="org.knime.knip.imagej.feature.feature.group" version="0.0.0"/>
      <repository id="knime-community" location="http://update.knime.org/community-contributions/3.0"/>
    </location>
  </locations>
</target>
