<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Full KNIP SDK: KNIP + KNIME + External Dependencies" sequenceNumber="1469021843">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.knime.features.ext.osm.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.stats2.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.itemset.feature.group" version="0.0.0"/>
      <unit id="org.knime.product.desktop" version="0.0.0"/>
      <unit id="org.knime.features.ext.spotfire.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.activelearning.feature.group" version="0.0.0"/>
      <unit id="com.knime.features.reporting.designer.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.quickform.legacy.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.mongodb.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.testingapplication.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.base.pmml.translation.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.exttool.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.optimization.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.jfreechart.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.datageneration.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.chem.tools.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.dl4j.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.base.widedata.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.jpmml.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.semanticweb.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.network.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.parso.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.textprocessing.dl4j.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.virtual.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.js.views.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.webservice.client.ppilot.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.neighborgram.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.perl.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.birt.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.md.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.chem.types.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.network.distmatrix.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.core.streaming.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.arima.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.exttool.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.jython.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.lucene.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.rest.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.webservice.client.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.r.bin.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.webanalytics.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.textprocessing.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.svg.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.python.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.distmatrix.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.r.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.socialmedia.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.base.pmml.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.weka_3.7.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.base.pmml2.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.base.filehandling.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.api.tools" version="0.0.0"/>
      <repository id="knime" location="https://update.knime.org/analytics-platform/3.2/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.knime.knip.feature.feature.group" version="1.5.1.201607152254"/>
      <unit id="org.knime.knip.omero.feature.feature.group" version="0.10.0.v201510111033"/>
      <unit id="org.knime.knip.testing.feature.feature.group" version="1.5.1.201607152254"/>
      <repository id="knime-community-trusted" location="http://update.knime.org/community-contributions/trusted/3.2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.knime.features.explorer.serverspace.feature.group" version="0.0.0"/>
      <repository id="knime-server" location="http://update.knime.org/server/4.3"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.knime.knip.cellprofiler.feature.feature.group" version="0.3.0.v201607040801"/>
      <unit id="org.knime.knip.ilastik.feature.feature.group" version="0.2.1.v201607152135"/>
      <unit id="org.knime.knip.knimepython.feature.feature.group" version="1.0.2.v201607040840"/>
      <unit id="org.knime.knip.tess4j.feature.feature.group" version="1.3.0.v201607051537"/>
      <unit id="org.knime.knip.imagej.feature.feature.group" version="0.10.1.v201607070911"/>
      <repository id="knime-community" location="http://update.knime.org/community-contributions/3.2"/>
    </location>
  </locations>
</target>
