<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Full KNIP SDK: KNIP + KNIME + External Dependencies" sequenceNumber="1438947199">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.knime.features.enterprise.client.exampleserver.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.base.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.base.filehandling.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.base.treeensembles.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.distmatrix.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ensembles.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.jep.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.weka_3.7.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.optimization.feature.group" version="2.12.0.0047163"/>
      <unit id="org.knime.features.python.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.quickform.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.r.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.testingapplication.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.virtual.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.xml.feature.group" version="0.0.0"/>
      <repository id="knime" location="http://www.knime.org/update/2.12"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.knime.knip.feature.feature.group" version="1.2.1.201409141752"/>
      <unit id="org.knime.knip.omero.feature.feature.group" version="0.8.2.201407092003"/>
      <unit id="org.knime.knip.testing.feature.feature.group" version="1.2.1.201409141748"/>
      <unit id="org.knime.knip.tracking" version="0.8.1.201409021745"/>
      <repository id="knime-community-trusted" location="http://update.knime.org/community-contributions/trusted/2.12"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.knime.knip.imagej3d.feature.feature.group" version="1.0.1.201407091125"/>
      <unit id="org.knime.knip.imagej2.core" version="0.9.0.201407091506"/>
      <unit id="org.knime.knip.tess4j.feature.feature.group" version="0.9.1.201409151349"/>
      <unit id="org.knime.knip.imagej.feature.feature.group" version="0.9.0.201409131649"/>
      <repository id="knime-community" location="http://update.knime.org/community-contributions/2.12"/>
    </location>
  </locations>
</target>
