<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="latest knip nightly build, installed on a barebone knime 2.11" sequenceNumber="8">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.knime.knip.suise.feature.feature.group" version="0.1.0.201407081304"/>
<unit id="org.knime.knip.omero.feature.feature.group" version="0.9.0.201409151407"/>
<unit id="org.knime.knip.imagej.feature.feature.group" version="0.9.1.201411241339"/>
<unit id="org.knime.knip.vtk.feature.feature.group" version="1.1.1.201407180814"/>
<unit id="org.knime.knip.imagej3d.feature.feature.group" version="1.0.1.201408241851"/>
<unit id="org.knime.knip.tess4j.feature.feature.group" version="1.0.0.201409151345"/>
<unit id="org.knime.knip.feature.feature.group" version="1.3.0.201412011635"/>
<repository location="http://tech.knime.org/update/community-contributions/trunk"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.knime.features.testingapplication.feature.group" version="2.11.0.0045431"/>
<unit id="org.knime.features.base.feature.group" version="2.11.0.0045443"/>
<repository location="http://www.knime.org/update/2.11/"/>
</location>
</locations>
</target>
