<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="latest knip nightly installed on full knime 2.11 (without chemistry)" sequenceNumber="13">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.knime.features.ext.birt.feature.group" version="2.11.0.0045434"/>
<unit id="org.knime.features.ext.itemset.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.js.feature.group" version="2.11.0.0045435"/>
<unit id="org.knime.features.base.pmml.feature.group" version="2.11.0.0045433"/>
<unit id="org.knime.features.ext.weka_3.7.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.base.filehandling.feature.group" version="2.11.0.0045434"/>
<unit id="org.knime.features.jpmml.feature.group" version="2.11.0.0045188"/>
<unit id="org.knime.features.ext.libsvm.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.exttool.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.ext.jfreechart.feature.group" version="2.11.0.0045434"/>
<unit id="org.knime.features.ext.webservice.client.ppilot.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.ext.osm.feature.group" version="2.11.0.0045412"/>
<unit id="org.knime.features.dbdrivers.feature.group" version="2.11.0.0045442"/>
<unit id="org.knime.features.network.distmatrix.feature.group" version="2.11.0.0043729"/>
<unit id="org.knime.features.testingapplication.feature.group" version="2.11.0.0045431"/>
<unit id="com.knime.features.reporting.designer.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.python.feature.group" version="2.11.0.0045439"/>
<unit id="org.knime.features.ext.jep.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.ext.lucene.feature.group" version="2.11.0.0045249"/>
<unit id="org.knime.features.ext.perl.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.optimization.feature.group" version="2.11.0.0045249"/>
<unit id="org.knime.features.neighborgram.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.ext.poi.feature.group" version="2.11.0.0045377"/>
<unit id="org.knime.features.webanalytics.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.json.feature.group" version="2.11.0.0045414"/>
<unit id="org.knime.features.ext.md.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.virtual.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.base.feature.group" version="2.11.0.0045443"/>
<unit id="org.knime.features.twitter.api.feature.group" version="2.11.0.0044921"/>
<unit id="org.knime.features.ensembles.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.ext.svg.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.network.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.ext.exttool.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.ext.spotfire.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.datageneration.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.base.treeensembles.feature.group" version="2.11.0.0045372"/>
<unit id="org.knime.features.ext.r.bin.feature.group" version="3.0.3.0045346"/>
<unit id="org.knime.features.ext.webservice.client.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.quickform.feature.group" version="2.11.0.0045346"/>
<unit id="com.knime.features.enterprise.client.exampleserver.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.ext.jython.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.ext.textprocessing.feature.group" version="2.11.0.0045434"/>
<unit id="org.knime.features.distmatrix.feature.group" version="2.11.0.0045434"/>
<unit id="org.knime.features.r.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.google.api.feature.group" version="2.11.0.0045346"/>
<unit id="org.knime.features.xml.feature.group" version="2.11.0.0045409"/>
<repository location="http://www.knime.org/update/2.11/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.knime.knip.suise.feature.feature.group" version="0.1.0.201407081304"/>
<unit id="org.knime.knip.omero.feature.feature.group" version="0.9.0.201409151407"/>
<unit id="org.knime.knip.imagej.feature.feature.group" version="0.9.1.201411241339"/>
<unit id="org.knime.knip.vtk.feature.feature.group" version="1.1.1.201407180814"/>
<unit id="org.knime.knip.imagej3d.feature.feature.group" version="1.0.1.201408241851"/>
<unit id="org.knime.knip.tess4j.feature.feature.group" version="1.0.0.201409151345"/>
<unit id="org.knime.knip.feature.feature.group" version="1.3.0.201412011635"/>
<repository location="http://tech.knime.org/update/community-contributions/trunk"/>
</location>
</locations>
</target>
