<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="latest knip nightly build, installed on a barebone knime 2.11" sequenceNumber="15">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.knime.features.base.feature.group" version="2.11.0.0045443"/>
<repository location="http://www.knime.org/update/2.11/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.imagej.common" version="0.10.3.20150106093452"/>
<unit id="org.scijava.log-slf4j" version="1.0.2"/>
<unit id="net.imagej.ui-awt" version="0.2.1"/>
<unit id="org.mapdb.mapdb.source" version="1.0.3"/>
<unit id="org.kohsuke.args4j.source" version="2.0.25"/>
<unit id="org.scijava.native-lib-loader" version="2.0.2"/>
<unit id="org.perf4j.source" version="0.9.13"/>
<unit id="org.javassist.source" version="3.16.1.GA"/>
<unit id="net.imagej.plugins-commands" version="0.3.1"/>
<unit id="com.fifesoft.rsyntaxtextarea.source" version="2.5.2"/>
<unit id="slf4j.api.source" version="1.7.6"/>
<unit id="io.scif.io-bf-compat.source" version="1.9.0"/>
<unit id="xalan" version="2.7.1"/>
<unit id="net.imglib2.algorithm-fft.source" version="0.1.1"/>
<unit id="org.apache.mahout.collections.source" version="1.0.0"/>
<unit id="io.scif.io-bf-compat" version="1.9.0"/>
<unit id="net.imagej.plugins-commands.source" version="0.3.1"/>
<unit id="org.scijava.jython-shaded" version="2.5.3"/>
<unit id="io.scif.io-lifesci.source" version="0.6.0"/>
<unit id="ome.formats-bsd" version="5.0.6"/>
<unit id="net.iharder.base64.source" version="2.3.8"/>
<unit id="ome.poi" version="5.0.6"/>
<unit id="io.scif.io-ome-xml" version="0.10.0"/>
<unit id="net.imagej.plugins-tools" version="0.2.1"/>
<unit id="ome.formats-gpl" version="5.0.6"/>
<unit id="com.googlecode.gentyref" version="1.1.0"/>
<unit id="ome.xml" version="5.0.6"/>
<unit id="io.scif.io.source" version="0.17.2"/>
<unit id="org.javassist" version="3.16.1.GA"/>
<unit id="xml-apis" version="1.3.4"/>
<unit id="net.imglib2.roi" version="0.2.1.20150106093437"/>
<unit id="org.perf4j" version="0.9.13"/>
<unit id="xalan.serializer" version="2.7.1"/>
<unit id="net.imagej.ui-awt.source" version="0.2.1"/>
<unit id="ome.formats-api.source" version="5.0.6"/>
<unit id="edu.ucar.udunits.source" version="4.3.18"/>
<unit id="com.esotericsoftware.kryo" version="2.21.0"/>
<unit id="org.scijava.ui-awt" version="0.1.3"/>
<unit id="net.imagej.ops" version="0.6.2"/>
<unit id="org.scijava.scripting-jython.source" version="0.1.4"/>
<unit id="woolz.JWlz" version="1.4.0"/>
<unit id="commons-logging" version="1.1.1"/>
<unit id="com.googlecode.gentyref.source" version="1.1.0"/>
<unit id="org.scijava.log-slf4j.source" version="1.0.2"/>
<unit id="org.apache.mahout.collections" version="1.0.0"/>
<unit id="org.scijava.config" version="1.0.0"/>
<unit id="org.apache.commons.lang3" version="3.1.0"/>
<unit id="org.scijava.plugins-platforms" version="0.1.3"/>
<unit id="net.imglib2.realtransform.source" version="2.0.0.beta-28"/>
<unit id="org.scijava.plugins-commands" version="0.1.8"/>
<unit id="io.scif.io" version="0.17.2"/>
<unit id="gov.nist.math.jama.source" version="1.0.3"/>
<unit id="org.jfree.chart.source" version="1.0.19"/>
<unit id="org.kohsuke.args4j" version="2.0.25"/>
<unit id="ch.qos.logback.core.source" version="1.1.1"/>
<unit id="org.scijava.config.source" version="1.0.0"/>
<unit id="com.miglayout" version="3.7.4"/>
<unit id="ome.jai_imageio.source" version="5.0.6"/>
<unit id="net.imglib2.algorithm-gpl" version="0.1.2"/>
<unit id="ome.metakit.source" version="5.0.6"/>
<unit id="ome.formats-common" version="5.0.6"/>
<unit id="org.scijava.common.source" version="2.36.0"/>
<unit id="slf4j.api" version="1.7.6"/>
<unit id="org.scijava.jython-shaded.source" version="2.5.3"/>
<unit id="net.imglib2" version="2.2.0"/>
<unit id="com.github.sbridges.object-inspector" version="0.1.0"/>
<unit id="net.imagej.updater" version="0.7.0"/>
<unit id="joda-time.source" version="2.2.0"/>
<unit id="com.esotericsoftware.kryo.shaded.source" version="2.21.0"/>
<unit id="ome.formats-common.source" version="5.0.6"/>
<unit id="edu.ucar.udunits" version="4.3.18"/>
<unit id="org.scijava.swing-checkbox-tree.source" version="1.0.0"/>
<unit id="net.imglib2.roi.source" version="0.2.1.20150106093437"/>
<unit id="org.scijava.plugins-platforms.source" version="0.1.3"/>
<unit id="org.scijava.plugins-text-plain" version="0.1.1"/>
<unit id="mpicbg" version="0.6.1"/>
<unit id="ch.qos.logback.core" version="1.1.1"/>
<unit id="ome.specification.source" version="5.0.6"/>
<unit id="org.scijava.native-lib-loader.source" version="2.0.2"/>
<unit id="net.imagej.ui-swing" version="0.8.1"/>
<unit id="xml-apis.source" version="1.3.4"/>
<unit id="net.imglib2.algorithm-gpl.source" version="0.1.2"/>
<unit id="ch.qos.logback.classic.source" version="1.1.1"/>
<unit id="com.jgoodies.forms.source" version="1.7.2"/>
<unit id="io.scif.io-jai-imageio.source" version="1.1.0"/>
<unit id="net.imagej.ui-swing.source" version="0.8.1"/>
<unit id="ome.bio-formats_plugins" version="5.0.6"/>
<unit id="com.miglayout.swing" version="3.7.4"/>
<unit id="net.sourceforge.jdatepicker.source" version="1.3.2"/>
<unit id="net.imglib2.source" version="2.2.0"/>
<unit id="org.scijava.ui-swing.source" version="0.3.0"/>
<unit id="net.imagej.ij.source" version="1.0.0.49m"/>
<unit id="org.mapdb.mapdb" version="1.0.3"/>
<unit id="xalan.source" version="2.7.1"/>
<unit id="ome.metakit" version="5.0.6"/>
<unit id="commons-logging.source" version="1.1.1"/>
<unit id="org.bushe.eventbus.source" version="1.4.0"/>
<unit id="net.imagej.common.source" version="0.10.3.20150106093452"/>
<unit id="org.scijava.minimaven.source" version="2.1.3"/>
<unit id="org.apache.commons.lang3.source" version="3.1.0"/>
<unit id="org.jfree.jcommon" version="1.0.23"/>
<unit id="org.scijava.common" version="2.36.0"/>
<unit id="mpicbg.source" version="0.6.1"/>
<unit id="ome.xml.source" version="5.0.6"/>
<unit id="ome.jai_imageio" version="5.0.6"/>
<unit id="io.scif.io-cli.source" version="0.2.0"/>
<unit id="org.scijava.scripting-jython" version="0.1.4"/>
<unit id="ome.formats-bsd.source" version="5.0.6"/>
<unit id="org.scijava.scripting-java" version="0.2.5"/>
<unit id="edu.mines.jtk" version="20100113.0.0"/>
<unit id="ome.turbojpeg.source" version="5.0.6"/>
<unit id="com.jgoodies.common" version="1.7.0"/>
<unit id="io.scif.io-cli" version="0.2.0"/>
<unit id="ome.poi.source" version="5.0.6"/>
<unit id="jep" version="2.24.0"/>
<unit id="net.imagej.ij" version="1.0.0.49m"/>
<unit id="io.scif.io-lifesci" version="0.6.0"/>
<unit id="gov.nist.math.jama" version="1.0.3"/>
<unit id="net.imglib2.algorithm-fft" version="0.1.1"/>
<unit id="org.scijava.minimaven" version="2.1.3"/>
<unit id="org.scijava.plugins-commands.source" version="0.1.8"/>
<unit id="net.iharder.base64" version="2.3.8"/>
<unit id="net.imglib2.algorithm.source" version="0.1.1"/>
<unit id="org.scijava.plugins-text-plain.source" version="0.1.1"/>
<unit id="org.markdownj" version="0.3.0.1_0_2b4"/>
<unit id="net.sourceforge.jdatepicker" version="1.3.2"/>
<unit id="ome.turbojpeg" version="5.0.6"/>
<unit id="com.jgoodies.common.source" version="1.7.0"/>
<unit id="org.scijava.ui-awt.source" version="0.1.3"/>
<unit id="ome.bio-formats_plugins.source" version="5.0.6"/>
<unit id="org.bushe.eventbus" version="1.4.0"/>
<unit id="edu.ucar.netcdf" version="4.3.19"/>
<unit id="com.miglayout.swing.source" version="3.7.4"/>
<unit id="joda-time" version="2.2.0"/>
<unit id="net.imagej.updater.source" version="0.7.0"/>
<unit id="ome.mdbtools-java.source" version="5.0.6"/>
<unit id="ome.formats-api" version="5.0.6"/>
<unit id="com.jgoodies.forms" version="1.7.2"/>
<unit id="net.imagej.plugins-tools.source" version="0.2.1"/>
<unit id="org.scijava.plugins-text-markdown" version="0.1.1"/>
<unit id="net.imagej.ops.source" version="0.6.2"/>
<unit id="org.jfree.chart" version="1.0.19"/>
<unit id="io.scif.io-jai-imageio" version="1.1.0"/>
<unit id="org.knime.knip.imglib2-ops" version="0.1.1"/>
<unit id="org.scijava.swing-checkbox-tree" version="1.0.0"/>
<unit id="io.scif.io-ome-xml.source" version="0.10.0"/>
<unit id="ome.specification" version="5.0.6"/>
<unit id="org.jhotdraw" version="7.6.0"/>
<unit id="ome.mdbtools-java" version="5.0.6"/>
<unit id="org.jfree.jcommon.source" version="1.0.23"/>
<unit id="net.imglib2.realtransform" version="2.0.0.beta-28"/>
<unit id="com.fifesoft.rsyntaxtextarea" version="2.5.2"/>
<unit id="org.scijava.scripting-java.source" version="0.2.5"/>
<unit id="edu.ucar.netcdf.source" version="4.3.19"/>
<unit id="org.scijava.ui-swing" version="0.3.0"/>
<unit id="net.imglib2.algorithm" version="0.1.1"/>
<unit id="ch.qos.logback.classic" version="1.1.1"/>
<unit id="ome.formats-gpl.source" version="5.0.6"/>
<unit id="org.scijava.plugins-text-markdown.source" version="0.1.1"/>
<repository location="https://community.knime.org/download/knip-externals-trunk"/>
</location>
</locations>
</target>
