<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="KNIP Developer SDK: KNIME + External Dependencies for KNIP " sequenceNumber="1441796201">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.actian.dataflow.feature.feature.group" version="0.0.0"/>
      <unit id="com.knime.features.enterprise.client.exampleserver.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.base.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.base.filehandling.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.core.streaming.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.distmatrix.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ensembles.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.ext.jep.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.optimization.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.python.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.quickform.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.r.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.stats2.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.testingapplication.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.virtual.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.xml.feature.group" version="0.0.0"/>
      <unit id="org.knime.features.js.feature.group" version="0.0.0"/>
      <unit id="com.knime.features.enterprise.client.feature.group" version="0.0.0"/>
      <unit id="com.knime.features.explorer.serverspace.feature.group" version="0.0.0"/>
      <unit id="com.knime.features.explorer.sharedspace.feature.group" version="0.0.0"/>
      <unit id="com.knime.features.workbench.repository.custom.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.api.tools" version="0.0.0"/>
      <repository id="knime" location="https://jenkins.knime.org/download/trunk/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="args4j" version="0.0.0"/>
      <unit id="commons-collections" version="0.0.0"/>
      <unit id="ij" version="0.0.0"/>
      <unit id="imagej-common" version="0.0.0"/>
      <unit id="imagej-ops" version="0.0.0"/>
      <unit id="imagej-plugins-commands" version="0.0.0"/>
      <unit id="imagej-ui-awt" version="0.0.0"/>
      <unit id="imagej-ui-swing" version="0.0.0"/>
      <unit id="imglib2" version="0.0.0"/>
      <unit id="imglib2-algorithm" version="0.0.0"/>
      <unit id="imglib2-algorithm-fft" version="0.0.0"/>
      <unit id="imglib2-algorithm-gpl" version="0.0.0"/>
      <unit id="imglib2-ij" version="0.0.0"/>
      <unit id="imglib2-realtransform" version="0.0.0"/>
      <unit id="imglib2-roi" version="0.0.0"/>
      <unit id="imglib2-ui" version="0.0.0"/>
      <unit id="jama" version="0.0.0"/>
      <unit id="jep" version="0.0.0"/>
      <unit id="knip-tmp-imglib2-ops" version="0.0.0"/>
      <unit id="knip-trackmate-fork" version="0.0.0"/>
      <unit id="miglayout" version="0.0.0"/>
      <unit id="miglayout-swing" version="0.0.0"/>
      <unit id="scifio" version="0.0.0"/>
      <unit id="scifio-bf-compat" version="0.0.0"/>
      <unit id="scifio-lifesci" version="0.0.0"/>
      <unit id="scijava-common" version="0.0.0"/>
      <unit id="scijava-log-slf4j" version="0.0.0"/>
      <unit id="scijava-plugins-commands" version="0.0.0"/>
      <unit id="scijava-plugins-text-markdown" version="0.0.0"/>
      <unit id="scijava-plugins-text-plain" version="0.0.0"/>
      <unit id="scijava-ui-awt" version="0.0.0"/>
      <unit id="scijava-ui-swing" version="0.0.0"/>
      <unit id="scripting-java" version="0.0.0"/>
      <unit id="scripting-jython" version="0.0.0"/>
      <unit id="slf4j-api" version="0.0.0"/>
      <unit id="slf4j-log4j12" version="0.0.0"/>
      <unit id="trove4j" version="0.0.0"/>
      <repository id="knip-externals" location="https://community.knime.org/download/knip-externals-trunk"/>
    </location>
  </locations>
</target>
